@import './shared.scss';

.header {
    max-width: 1440px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    nav {
        display: flex;
        margin-left: -7em;
        span {
            margin: 3px 5px;
            font-size: 12px;
            color: $red-color;
            border: solid 1px $lightGray-color;
            border-radius: 11px;
            padding: 2px 7px;
        }
    }
    a {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 20px;
        width: 182px;
        padding: 6px 0;
        background-color: $beige-color;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }
    &>* {
        width: 33.33%;
    }
}
main {
    max-width: 1440px;
    margin: auto;
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    position: relative;
    h1 {
        position: absolute;
        top: -50px;
        right: 6%;
        font-size: 36px;
    }
    article {
        margin: 0 10px;
        text-align: center;
        h2 {
            margin-top: -3em;
            a {
                font-size: 36px;
                color: $orange-color;
                text-decoration: none;
            }
        }
        address {
            font-size: 13px;
            color: $red-color;
        }
        p {
            font-size: 10px;
        }
        .price {
            font-size: 9px;
            color: $gray-color;
        }
        footer {
            display: flex !important;
            margin-top: 10px;
            padding-left: 25px;
            span {
                margin: 0 5px;
                font-size: 12px;
                color: $orange-color;
                border: solid 1px $lightGray-color;
                border-radius: 11px;
                padding: 2px 7px;
            }
        }
    }
}

@media screen and (max-width: 1439px) {
    #logo {
        width: 150px;
        height: 37.5px;
    }
    .header {
        padding-left: 10px;
        padding-right: 10px;
        nav {
            width: 100%;
            margin-top: 10px;
            margin-left: inherit;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    main {
        position: inherit;
        h1 {
            top: 55px;
            right: 10px;
            font-size: 14px;
        }
    }
}