@import './shared.scss';
.header {
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
}
main {
    max-width: 1440px;
    margin: auto;
    header {
        padding: 0 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            font-size: 64px;
            color: $orange-color;
        }
        address {
            font-size: 24px;
            margin-bottom: 19px;
        }
        p,span {
            font-size: 18px;
            margin: 5px 0;
        }
        span,address {
            color: $red-color;
        }
        .filters {
            display: flex;
            span {
                margin: 0 10px;
            }
        }
        button {
            height: 69px;
            width: 170px;
            color: white;
            border: none;
            font-size: 20px;
            font-weight: 700;
            background-color: $red-color;
        }
    }
    select {
        background-color: $red-color;
        color: white;
    }
    .feed{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        article {
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            figure {
                height: 300px;
                width: 365px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                p{
                    text-align: left;
                }
                span{
                    float: right;
                }
            }
        }
    }
}
@media screen and (max-width: 1439px) {
    main {
        margin: 0 20px;
        header {
            padding: 0;
            img{
                float: right;
            }
            h1 {
                font-size: 36px;
            }
            address {
                font-size: 13px;
                margin-bottom: 19px;
            }
            p,span {
                font-size: 13px;
                margin: 5px 0;
            }
            button{
                position:fixed;
                bottom: 30px;
                left: 50%;
	            transform: translateX(-50%);

            }
        }
        .feed{
            article {
                figure {
                    max-width: 335px;
                    max-height: 190px;
                    width:inherit;
                    height:inherit;
                }
            }
        }
    }
}

@media screen and (max-width: 790px) {
    main .feed {
        justify-content: center;
    }
    .presentationImg {
        height: 263px;
        width: 179px;
    }
}