<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fishoye - Photographe NOM_PHOTOGRAPHE</title>
    <script src="https://kit.fontawesome.com/dfff5e71e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/photographer-page.css">
</head>
<body>
    <header class="header">
        <a href="../index.html">
            <img src="../assets/logo.png" alt="" id="logo">
        </a>
    </header>
    <main>
    </main>
    <script type="module">
        import App from "/js/app.js"

        const app = new App()
        app.init()
    </script>
</body>
</html>