<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fishoye - Photographe NOM_PHOTOGRAPHE</title>
    <script src="https://kit.fontawesome.com/dfff5e71e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/photographer-page.css">
</head>
<body>
    <header class="header">
        <a href="../index.html">
            <img src="../assets/logo.png" alt="" id="logo">
        </a>
    </header>
    <main>
        <label for="sort">Trier par</label>
        <select name="sort" id="sort">
            <option value="popularity">Popularité</option>
            <option value="date">Date</option>
            <option value="title">Titre</option>
        </select>
        <div class="feed">
        </div>
    </main>
    <script src="../js/photographer-page.js"></script>
</body>
</html>