@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
$orange-color: #D3573C;
$red-color: #901C1C;
$beige-color: #DB8876;
$gray-color: #757575;
$darkGray-color: #312E2E;
$lightGray-color: #C4C4C4;
* {
    margin: 0;
    padding: 0;
}
h1,h2,p,span,button,label {
    font-family: 'DM Sans', sans-serif;
}